*{
    box-sizing: border-box;;
    margin: 0;
    padding: 0;
    font-family: monospace;
}
body{
    display: flex;
    flex-direction: row;
}
#left
{
    width: 20%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
   justify-content: center;
}
#elementMapDiv
{
    width: 40%;
    height: 100%;
    min-height: 100vh;
    background-color:whitesmoke;
}
#elementMapDiv *{
    list-style: none;
}

.elementItem{
margin-top: 10px;
border: 1px solid red;
border-radius: 5px;
}

.elementItem button
{
    width: 100%;
    height: 100%;
    cursor: pointer;
}


#creats
{
    width: 60%;
    height: 100%;
    min-height: 100vh;
    background-color:bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 300px;
}

#elements
{
    width: 60%;
    font-size: 2rem;
    margin-top: 50px;
}
#attr
{
    width: 80%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
    flex-direction: column;
    align-items: center;
    justify-content:space-around

}
#attr>input
{
    width: 80%;
    height: 25px;
    font-size: 1.2rem;
    border: none;
    padding: 2px 0px 2px 10px;
}

#width-height
{
   
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around

}
#width-height>input
{
    padding: 2px 0px 2px 10px;
    width: 80%;
    font-size: 1.2rem;
}


#color
{
    font-size: 2rem;
    width: 80%;
    margin-top: 10px;
}

#btnCreate
{
    font-size: 1rem;
    border: none;
    border-radius: 100px;
    padding: 5px 25px 5px 25px;
    background-color:turquoise;
    margin-top: 20px;
}



#browser
{
    width: 60%;
    height: 100vh;
    min-height: 100vh;
}




#properties
{
    width: 20%;
    height: auto;
    min-height: 100vh;
    background-color:cadetblue;
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
    
}

#properties input
{

    font-size: 1.2rem;
    width: 70%;
    height: 30px;
    padding: 3px 0px 3px 10px;
    align-self:unsafe;


}























/* 
#margin{
    display: flex;
    flex-direction: row;
}


#margin > *{
    font-size: 1rem;
    width: 20%;
    margin-left: 5px;
    margin-top: 15px;
}



#pading{
    display: flex;
    flex-direction: row;
}


#pading > *{
    font-size: 1rem;
    width: 20%;
    margin-left: 5px;
    margin-top: 15px;
} */